<div class="wrapper">
  <!-- sidebar -->
  <app-nav></app-nav>
  <!-- sidebar -->

  <div class="main">
    <!-- header -->
    <app-header></app-header>
    <!-- header -->

    <main class="content">
      <form [formGroup]="frmGroup" (submit)="submit()">
        <app-input formControlName="name"></app-input>
        <app-input formControlName="color"></app-input>
        <app-button [text]="'click'"></app-button>
      </form>

      <router-outlet></router-outlet>
    </main>

    <!-- footer -->
    <app-footer></app-footer>
    <!-- footer -->
  </div>
</div>
