<div nz-row>
  <!-- <div nz-col nzSpan="12">
                    <app-search (onChange)="onSearch($event)"></app-search>
                  </div>
                  <div nz-col nzSpan="12">col-12</div> -->
  <div nz-col nzSpan="16">
    <h3 class="text-bold">Quản Lý Quyền</h3>
  </div>
  <div nz-col nzSpan="6" class="pe-2">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div nz-col nzSpan="2" class="d-flex justify-content-end">
    <button nz-button nzType="primary">
      <span nz-icon nzType="search"></span>
      Tìm kiếm
    </button>
    <button nz-button nzType="primary" class="ms-1" (click)="toggleDropdown()">
      <span nz-icon nzType="caret-down" nzTheme="outline"></span>

    </button>
  </div>
</div>


<div nz-row>
  <div nz-col nzSpan="8"><nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" *ngIf="showDropdown"
      nzShowSearch nzAllowClear style="width: 100%">
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select></div>
  <div nz-col nzSpan="8"><nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" style="width: 100%"
      *ngIf="showDropdown" nzShowSearch nzAllowClear>
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select></div>
  <div nz-col nzSpan="8"><nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" style="width: 100%"
      *ngIf="showDropdown" nzShowSearch nzAllowClear>

      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select>
  </div>

</div>
<button nz-button [nzType]="'primary'" (click)="showModal()" class="mt-2"><span>Thêm Mới</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm Mới Nhân Viên" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>
<div nz-row nzSpan="24">
  <nz-table #basicTable [nzData]="listOfData" style=" width: 100%;">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên nhân viên</th>
        <th>Chức danh</th>
        <th>SĐT</th>
        <th>Quyền</th>
        <th>Trạng Thái</th>
        <th>Ngày cập nhập</th>
        <th>Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.key}}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.sdt }}</td>
        <td>{{ data.role }}</td>
        <td>{{ data.trangthai }}</td>
        <td>{{ data.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <nz-button-group>
            <button nz-button nzType="primary"><span nz-icon nzType="edit" nzTheme="outline"
                (click)="showModal()"></span></button>
            <button nz-button nzType="primary"><span nz-icon nzType="down" nzTheme="outline"
                (click)="showModal()"></span></button>
          </nz-button-group>
          <nz-divider nzType="vertical"></nz-divider>


        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm mới" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <div nz-row>
        <!-- Content left -->
        <div nz-col nzSpan="12">
          <p> Thẻ:
            <nz-upload class="avatar-uploader" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleChange($event)">
              <ng-container *ngIf="!avatarUrl" style=" width: 128px; height: 128px;">
                <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></span>
                <div class="ant-upload-text">Upload</div>
              </ng-container>
              <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
            </nz-upload>
          </p>

        </div>
        <!-- Content right -->
        <div nz-col nzSpan="12">
          <p>Content on the right side</p>
        </div>
      </div>
    </ng-container>
  </nz-modal>

</div>