<nz-card style="height: 100vh">
  <div nz-row>
    <!-- <div nz-col nzSpan="12">
              <app-search (onChange)="onSearch($event)"></app-search>
            </div>
            <div nz-col nzSpan="12">col-12</div> -->
    <div nz-col nzSpan="16">
      <h3 class="text-bold">Quản lý tài khoản</h3>
    </div>
    <div nz-col nzSpan="6" class="pe-2">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <div nz-col nzSpan="2" class="d-flex justify-content-end">
      <button nz-button nzType="primary">
        <span nz-icon nzType="search"></span>
        Tìm kiếm
      </button>

      <button
        nz-button
        nzType="primary"
        class="ms-1"
        (click)="toggleDropdown()"
      >
        <span nz-icon nzType="caret-down" nzTheme="outline"></span>
      </button>
    </div>
  </div>
  <div nz-row class="mt-3">
    <div nz-col nzSpan="8">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a person"
        style="width: 100%"
        *ngIf="showDropdown"
        nzShowSearch
        nzAllowClear
      >
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="8">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a person"
        style="width: 100%"
        *ngIf="showDropdown"
        nzShowSearch
        nzAllowClear
      >
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="8">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a person"
        style="width: 100%"
        *ngIf="showDropdown"
        nzShowSearch
        nzAllowClear
      >
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row class="mt-3">
    <button nz-button nzType="primary" (click)="showModal()" class="mt-1">
      <span>Thêm mới </span>
    </button>
  </div>
  <div nz-row class="mt-3">
    <nz-table #basicTable [nzData]="listOfData" style="width: 100%">
      <thead>
        <tr>
          <th nzSpan="6">Name</th>
          <th nzSpan="6">Age</th>
          <th nzSpan="6">Address</th>
          <th nzSpan="6">role</th>
          <th nzSpan="6">Khoá</th>
          <th nzSpan="6">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.role }}</td>

          <td>
            <a>Action 一 {{ data.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
          </td>
          <td>
            <nz-button-group>
              <button nz-button nzType="primary" (click)="showModal()">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
              <button nz-button nzType="primary">
                <span nz-icon nzType="down" nzTheme="outline"></span>
              </button>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table></div
></nz-card>
